*{
		margin: 0;
		padding: 0;
	}
		body{
			background-color: #ffd68c;
		}

		.navbar {
			background-color: #4286f4;
			background-image: url();
		}
		.naslov{
			color:white;
			font-size: 25px;
			padding-top: 10%;
			padding-bottom: 20%;
			text-shadow: 1px 1px darkgray;
		}
		.zanas{
			float:left;
			margin-top: 2%;
			margin-left:1%;
			width: 60%;
		}
		.tel{
			text-align: center;
			font-size: 15px;
			float:right;
			margin-top:2%;
			margin-right: 7%;
		}
		.sliki{
			max-width: 400px;
			width: 33%;
			height: 10%;
			/*float: right*/
			float: left;
			margin-left: 2%;
		}
		.prazen{
			float:left;
			width: 100%;
		}
		.silip{
			margin-top:15%;
			margin-bottom: 3%;
			font-size: 20px;
		}
		.produkti{
			float:left;
			width: 30%;
			margin:1%;
			font-size: 13px;
			padding-left: 1%;
		}
		.kontakti{
			margin-top:25%;
			font-size: 20px;
			padding-top: 20%;
			margin-bottom: 5%;
		}
		.forma{
			width: 350px;
			height:200px;
			float:right;
			border: 1px solid black;
			border-radius: 10px;
			background-color: #4286f4;
			padding-top: 10px;
		}
		.textforma{
			float: right;
			margin-right: 30px;
		}
		.bardole{
			width: 100%;
			height: 3%;
			background-color: #4286f4;
			bottom:0;
			margin-top: 3%;
			float:left;
		}
		.text_bardole{
			width: 65%;
			display: inline;
			float: left;
		}
		.logoa{
			float:left;
			display:inline;
			width: 35%;
			text-align: right;
			height:40px;
		}

		.logoa img{
			margin-right: 2px;
			width: 35px;
			height: 35px;
			display: inline;
			cursor: pointer;
		}
		.tekst{
			width: 40%;
			margin-left: 2%;
			float: left;
		}
		ul li{
			 color:white;
  			 display: inline;
  			 padding-right: 16px;
			 padding-left: 16px;
			 border-right: 1px solid #fff;
			 text-decoration: none;
		}
		a:hover li{
			background-color:white;
			color:#4286f4;
			text-decoration: none;
		}
		a:link{
    		text-decoration: none;
		}
		.prazen img{
			width: 100%;
		}
		input[type="button"]{
			background-color: #2442b7;
			color:white;
			border: 1px solid #2442b7;
			border-radius: 15px;
			padding: 4px;
			cursor:pointer;
		}
		.label{
			float:left;
			margin-right: 30px;
		}


